@model List<OrderListModel>
@{
    ViewData["Title"] = "GetOrders";
}

<h1>Orders</h1>
<hr />

@foreach (var order in Model)
{
    <table class="table table-bordered table-sm mb-3">
        <thead>
            <tr>
                <td colspan="2">Order Id: @order.OrderId</td>
                <td>Price</td>
                <td>Quantity</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderItem in order.OrderItems)
            {
                <tr>
                    <td>
                        <img src="~/img/@orderItem.ImageUrl" alt="Alternete Text" width="50" />
                    </td>
                    <td>
                        @orderItem.Name
                    </td>
                    <td>
                        @orderItem.Price
                    </td>
                    <td>
                        @orderItem.Quantity
                    </td>
                </tr>
            }
            <tr>
                @if (order.TotalPrice() < 49)
                {
                    <td colspan="2">
                        <strong>Shipping: 10.00</strong>
                    </td>
                }
                else
                {
                    <td colspan="2">
                        <strong>Shipping: FREE</strong>
                    </td>
                }
                @if (order.TotalPrice() > 49)
                {
                    <td colspan="2" class="border border-danger">
                        <strong>Total: @order.TotalPrice()</strong>
                    </td>
                }
                else
                {
                    <td colspan="2">
                        <strong>Total: @order.TotalPriceShipping()</strong>
                    </td>
                }
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-sm mb-3">
        <tr>
            <td colspan="2">Customer Name:</td>
            <td>@User.Identity.Name</td>
        </tr>
        <tr>
            <td colspan="2">Adres:</td>
            <td>@order.Address</td>
        </tr>
        <tr>
            <td colspan="2">Phone:</td>
            <td>@order.Phone</td>
        </tr>
        <tr>
            <td colspan="2">Email:</td>
            <td>@order.Email</td>
        </tr>
        <tr>
            <td colspan="2">Payment Status:</td>
            <td>@order.PaymentTypes</td>
        </tr>
        <tr>
            <td colspan="2">Order Status:</td>
            <td>@order.OrderState</td>
        </tr>
    </table>




}

